.bot-list-manager {
 background-color: #c4c4c4;
 padding: 5px;
}

.bot-list-manager h1 {
    text-align: center;
    letter-spacing: 3px;
    text-decoration: underline;
}

.bot-list-manager ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bot-list-manager li {
    padding: 5px;
}

.bot-list-manager button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px;
    margin:3px;
}

.input-field {
    display: block;
    border: solid 2px black;
    background-color: rgb(243, 236, 236);
    padding: 5px;
    margin: auto;
    width: 700px;
    border-radius: 10px;
}

.input-field input {
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(213, 223, 99);
}

.input-field button {
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    padding: 5px;
    margin:3px;
}