.form-header {
    display: flex; 
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #666;
    text-align: center;
}

.form-header form {
    width: 50%;
}

.bot-input {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border: 2px solid #444;
    border-radius: 5px;   
    width: 100%;
    margin-bottom: 10px;
}

.bot-input:focus {
    border: 5px solid #3255f0;
    background-color: #16ecac;
}

.bottom-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag {
    background-color: #3255f0;
    color: #fff;
    border: 1px solid #02166c;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.tag:hover {
    background-color: #109f7b;
    border: 1px solid #fff;
}

.tag:active {
    background-color: #88ea5a;
}

.job-staus {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding:5px;
}

.form-details {
    text-align: center;
}

.submit-data {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #3255f0;
    color: #fff;
    border: 1px solid #02166c;
    border-radius: 3px;
    padding: 10px 5px;
}

.submit-data:hover {
    background-color: #109f7b;
    border: 1px solid #fff;
}

.submit-data:active {
    background-color: #88ea5a;
}

@media screen  and (max-width: 1000px) {
    .form-header{
        max-width: 300px;
    }

    .form-header form {
        width: 90%;
    }

    .tag {
        font-size: 10px;
        font-weight: 400;
    }

    .submit-data {
        font-size: 10px;
        font-weight: 400;
    }
}